/* main */
main {width: 1200px; margin: 0 auto; /* background-color: aqua; */}
/* main 공통 제목 css */
main section {text-align: center; margin-top: 50px;}
main section .category {}
main section .category::after {
    content:''; width: 15px; height: 2px; 
    background-color: darkgray;
    display: block; margin: 10px auto 0;
}
main section h1 {
    font-size: 1.5rem; letter-spacing: -0.02rem;
    margin: 30px 0;
}
main section > .contents {
    color:#888; letter-spacing: -0.02rem; 
    font-weight:700; margin-bottom:50px;
}
/* 카히스토리 영상 */
/* 카히스토리 영상 - 탭 제목, 내용 */
main #video .tab_title {margin-bottom: 20px;}
main #video .tab_title a {
    display: inline-block;
    /* background-color: antiquewhite;  */
    width:120px; padding: 20px 0; 
    
}
/* 탭 제목 활성화 디자인 + js class 호출용 */
main #video .tab_title a.active {border-bottom: 5px solid #25a8ff;}
main #video .tab_contents {}
main #video .tab_contents .active {}
main #video .tab_contents .tab_c1 {position: relative;}
main #video .tab_contents .tab_c1 video {width: 80%; margin:0 auto;}
main #video .tab_contents .tab_c1 img {width:200px; position: absolute; bottom:-60px; right: 30px;}
main #video .tab_contents .tab_c2 {}
main #video .tab_contents .tab_c2 img {width: 80%; margin:0 auto;}
/* main menu */
main #menu {}
/* 자주 사용하는 메뉴 - 탭 제목 */
main #menu .tab_title {
    position: relative;
    display: flex;
    justify-content:center;
    border-bottom: 1px solid #000;
}
main #menu .tab_title a {
    border:1px solid #aaa;
    border-bottom:1px solid #000;
    background:#fff;
    width:150px; padding: 20px 0;
    margin-right: 10px;
    position:relative; bottom:-1px;
}
main #menu .tab_title a:last-child {margin-right: 0;}
/* 탭 제목 활성화 디자인 + js class 호출용 */
main #menu .tab_title a.active {
    border:1px solid #000;
    border-top: 5px solid #25a8ff;
    border-bottom: 1px solid #fff; 
}
/* 자주 사용하는 메뉴 - 탭 내용 */
main #menu .tab_contents {}
main #menu .tab_contents .tab_c1 {
    display: flex;
    text-align: left;
    padding-top: 70px;
}
main #menu .tab_contents .tab_c1 .left {}
main #menu .tab_contents .tab_c1 .left h2 {color:#25a8ff; font-size: 1.6rem;}
main #menu .tab_contents .tab_c1 .left p img {margin: 20px 0; width: 95%;}
main #menu .tab_contents .tab_c1 .left > p:last-child {line-height: 20px;}
main #menu .tab_contents .tab_c1 .left > p:last-child a {color:#25a8ff;}
main #menu .tab_contents .tab_c1 .right {width: 60%;}
main #menu .tab_contents .tab_c1 .right h3 {font-size: 1.2rem; padding-bottom:50px;}
main #menu .tab_contents .tab_c1 .right ul {}
main #menu .tab_contents .tab_c1 .right ul li {
    display: flex; 
    border-bottom: 1px dashed #aaa;
    padding: 20px;
}
main #menu .tab_contents .tab_c1 .right ul li > p {margin-right: 30px;}
main #menu .tab_contents .tab_c1 .right ul li > p img {}
main #menu .tab_contents .tab_c1 .right ul li .contents {}
main #menu .tab_contents .tab_c1 .right ul li .contents .num {color:#25a8ff; font-weight: 700; margin-bottom: 10px;}
main #menu .tab_contents .tab_c1 .right ul li .contents .con {
    font-size:1.3rem; font-weight: 700; letter-spacing: -0.02rem;
}
main #menu .tab_contents .tab_c1 .right ul li .contents .con span {letter-spacing: -0.02rem;}
main #menu .tab_contents .tab_c2 {height: 400px;}
main #menu .tab_contents .tab_c3 {height: 400px;}
main #menu .tab_contents .tab_c4 {height: 400px;}